section(auto-select=true)
  header Menu1
  if prebody
    p prebody
  ul
    li
        a(href='/form/new/') New Todo
    li
        a(href='/todoListdone/') Done(#{doneCount})
    li Todo (#{todoCount}):
    each todo in todos
      li
        a(href='/view/'+todo.id) #{todo.taskDescription} #{todo.dueDate}

