p
  | #{preBody}
option(href='/form/new/')
  | New todo
option(href='/todoListdone/')
  | Done(#{doneCount})
if todos && todos.length > 0
  p
    | Todo (#{todoCount}):
  each todo in todos
    option(href='/view/'+todo.id) #{todo.taskDescription} #{todo.dueDate}
          